@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}

:root{
  --primary: #fff;
  --bg-color: #f6acb9;
  --bg-envelope-color: #ec5353;
  --envelope-tab: #e95f55;
  --envelope-cover: #cf4a43;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  height: 100vh;
  display: grid;
  place-items: center;
}
.container > .envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
}
.envelope-wrapper > .envelope {
  position: relative;
  width: 300px;
  height: 229px;
}
.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}
.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 150px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  border-left: 150px solid var(--envelope-cover);
}
.envelope > .letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 54%;
  height: 80%;
  background: var(--primary);
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 20px 10px;
}

.envelope > .letter > .text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--txt-color);
  text-align: left;
  font-size: 7.9px;
}
.ass {
  position: absolute;
  z-index: 4;
  top: 63.3%;
  left: 14%;
  color: #e95f55;
  font-size: 0.9rem;
}
.heart {
  position: absolute;
  top: 53.5%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-image: url("fundo.jpg");
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px var(--shadow-color);
  cursor: pointer;
}
.heart:before, 
.heart:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("fundo.jpg");
  border-radius: 50%;
}
.heart:before {
  top: -7.5px;
}
.heart:after {
  right: 7.5px;
}
.flap > .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}
.flap > .envelope > .letter {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
}
.flap > .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}

.btn{
    background-image: url("Teste.jpg");
    border-radius: 10px;
    font-weight: bold;
    padding: 2px 25px;
    border: none;
    position: relative;
    left: -22vmin;
    top: -73.8vmin;
}
.button a{
    text-decoration: none;
    font-size: 0.7rem;
    color: deeppink;
}

.btnOpen {
  background-image: url("Teste.jpg");
  border-radius: 10px;
  font-weight: bold;
  padding: 7.9px 20px;
  border: none;
  position: relative;
  left: 23vmin;
  top: -85vmin;
  font-size: 0.6rem;
  color: deeppink;
}

.btnClose {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  position: relative;
  left: 69vmin;
  padding: 10px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / .5);
}

dialog {
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  width: 85%;
}
